<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tintColor</key>
		<dict>
			<key>green</key>
			<integer>224</integer>
			<key>blue</key>
			<integer>0</integer>
			<key>red</key>
			<integer>232</integer>
		</dict>
		<key>numberOfTimes</key>
		<integer>2</integer>
		<key>lastEaten</key>
		<date>2021-04-20T11:06:17Z</date>
		<key>imageName</key>
		<string>ramen.jpeg</string>
		<key>foods</key>
		<string>Ramen</string>
		<key>type</key>
		<string>🍜</string>
		<key>myChoice</key>
		<false/>
		<key>rating</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
